@model (Employee user, Info info)
@{
    ViewBag.Title = "";
    Layout = "_Layout";
    var maleCheck = Model.user.Sex == Sex.Male ? "checked" : "";
    var femaleCheck = Model.user.Sex == Sex.Female ? "checked" : "";
    var pensionerCheck = Model.user.Pensioner == true ? "checked" : "";
    var militaryCheck = Model.user.Military == true ? "checked" : "";
}

<h2>Изменить пользователя</h2>
<hr />
<form asp-controller="Home" asp-action="EditUser" method="post">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <span class="text-danger">@ViewBag.Errors</span>
            <input type="hidden" name="item1.Id" value="@Model.user.Id"/>
            <div class="form-group">
                <label for="Name" class="control-label">Имя</label>
                <input asp-for="user.Name" class="form-control" value="@Model.user.Name"/>
                <span asp-validation-for="user.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Surname" class="control-label">Фамилия</label>
                <input asp-for="user.Surname" class="form-control" value="@Model.user.Surname"/>
                <span asp-validation-for="user.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Lastname" class="control-label">Отчество</label>
                <input asp-for="user.Lastname" class="form-control" value="@Model.user.Lastname"/>
                <span asp-validation-for="user.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Birthday" class="control-label">День рождения</label>
                <input type="date" asp-for="user.Birthday" class="form-control"/>
                <span asp-validation-for="user.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Sex" class="control-label">Пол</label>
                <div>Мужской <input type="radio" asp-for="user.Sex" value="Male"/> </div>
                <div>Женский <input type="radio" asp-for="user.Sex" value="Female"/> </div>
                <span asp-validation-for="user.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PassportSeries" class="control-label">Серия паспорта</label>
                <input asp-for="user.PassportSeries" class="form-control" value="@Model.user.PassportSeries"/>
                <span asp-validation-for="user.PassportSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PassportNumber" class="control-label">Номер паспорта</label>
                <input asp-for="user.PassportNumber" class="form-control" value="@Model.user.PassportNumber"/>
                <span asp-validation-for="user.PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PassportGiver" class="control-label">Кем выдан</label>
                <input asp-for="user.PassportGiver" class="form-control" value="@Model.user.PassportGiver"/>
                <span asp-validation-for="user.PassportGiver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PassportGiveDate" class="control-label">Дата выдачи</label>
                <input type="date" asp-for="user.PassportGiveDate" class="form-control"/>
                <span asp-validation-for="user.PassportGiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdentityNumber" class="control-label">Идент. номер</label>
                <input asp-for="user.IdentityNumber" class="form-control" value="@Model.user.IdentityNumber"/>
                <span asp-validation-for="user.IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Birthplace" class="control-label">Место рождения</label>
                <input asp-for="user.Birthplace" class="form-control" value="@Model.user.Birthplace"/>
                <span asp-validation-for="user.Birthplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Город проживания</label>
                <select asp-for="user.CityId" asp-items="@(new SelectList(Model.info.Cities, "Id", "Name"))">
                    <option value="0">Выберите одно</option>
                </select>
                <div><span asp-validation-for="user.CityId" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label for="Address" class="control-label">Адрес проживания</label>
                <input asp-for="user.Address" class="form-control" value="@Model.user.Address"/>
                <span asp-validation-for="user.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PhoneHome" class="control-label">Телефон дом</label>
                <input asp-for="user.PhoneHome" class="form-control" value="@Model.user.PhoneHome"/>
                <span asp-validation-for="user.PhoneHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PhoneMobile" class="control-label">Телефон моб</label>
                <input asp-for="user.PhoneMobile" class="form-control" value="@Model.user.PhoneMobile"/>
                <span asp-validation-for="user.PhoneMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">E-mail</label>
                <input asp-for="user.Email" class="form-control" value="@Model.user.Email"/>
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Workplace" class="control-label">Место работы</label>
                <input asp-for="user.Workplace" class="form-control" value="@Model.user.Workplace"/>
                <span asp-validation-for="user.Workplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="WorkPosition" class="control-label">Должность</label>
                <input asp-for="user.WorkPosition" class="form-control" value="@Model.user.WorkPosition"/>
                <span asp-validation-for="user.WorkPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FamilyPosition" class="control-label">Семейное положение</label>
                <select asp-for="user.FamilyPositionId" asp-items="@(new SelectList(Model.info.FamilyPositions, "Id", "Position"))">
                    <option value="0">Выберите одно</option>
                </select>
                <div><span asp-validation-for="user.FamilyPositionId" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label for="Citizenship" class="control-label">Гражданство</label>
                <select asp-for="user.CitizenshipId" asp-items="@(new SelectList(Model.info.Citizenships, "Id", "Name"))">
                    <option value="0">Выберите одно</option>
                </select>
                <div><span asp-validation-for="user.CitizenshipId" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label for="Disability" class="control-label">Инвалидность</label>
                <select asp-for="user.DisabilityId" asp-items="@(new SelectList(Model.info.Disabilities, "Id", "Name"))">
                    <option value="0">Выберите одно</option>
                </select>
                <div><span asp-validation-for="user.DisabilityId" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label for="Pensioner" class="control-label">Пенсионер</label>
                <input type="checkbox" asp-for="user.Pensioner"/>
                <span asp-validation-for="user.Pensioner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Income" class="control-label">Ежемесячный доход</label>
                <input asp-for="user.Income" class="form-control" value="@Model.user.Income"/>
                <span asp-validation-for="user.Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Military" class="control-label">Военнообязанный</label>
                <input type="checkbox" asp-for="user.Military"/>
                <span asp-validation-for="user.Military" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить"/>
                <input type="button" class="btn" value="Отмена"/>
            </div>
        </div>
    </div>
</form>