@page "/addemployee"
@inject NavigationManager NavigationManager
@inject IEmployeeService EmployeeService

<h2>Create Employee</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Имя</label>
                <input for="Name" class="form-control" @bind="@employee.Name" />
            </div>
            <div class="form-group">
                <label for="Surname" class="control-label">Фамилия</label>
                <input for="Surname" class="form-control" @bind="@employee.Surname" />
            </div>
            <div class="form-group">
                <label for="Lastname" class="control-label">Отчество</label>
                <input for="Lastname" class="form-control" @bind="@employee.Lastname" />
            </div>
            <div class="form-group">
                <label for="Birthday" class="control-label">День рождения</label>
                <input for="Birthday" class="form-control" @bind="@employee.Birthday" />
            </div>
            <div class="form-group">
                <label for="Sex" class="control-label">Пол</label>
                <input type="radio" for="Sex" class="form-control" @bind="@employee.Sex" />
            </div>
            <div class="form-group">
                <label for="PassportSeries" class="control-label">Серия паспорта</label>
                <input for="PassportSeries" class="form-control" @bind="@employee.PassportSeries" />
            </div>
            <div class="form-group">
                <label for="PassportNumber" class="control-label">Номер паспорта</label>
                <input for="PassportNumber" class="form-control" @bind="@employee.PassportNumber" />
            </div>
            <div class="form-group">
                <label for="PassportGiver" class="control-label">Кем выдан</label>
                <input for="PassportGiver" class="form-control" @bind="@employee.PassportGiver" />
            </div>
            <div class="form-group">
                <label for="PassportGiveDate" class="control-label">Дата выдачи</label>
                <input for="PassportGiveDate" class="form-control" @bind="@employee.PassportGiveDate" />
            </div>
            <div class="form-group">
                <label for="IdentityNumber" class="control-label">Идент. номер</label>
                <input for="IdentityNumber" class="form-control" @bind="@employee.IdentityNumber" />
            </div>
            <div class="form-group">
                <label for="Birthplace" class="control-label">Место рождения</label>
                <input for="Birthplace" class="form-control" @bind="@employee.Birthplace" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Город проживания</label>
                <input for="City" class="form-control" @bind="@employee.City.Name" />
            </div>
            <div class="form-group">
                <label for="Address" class="control-label">Адрес проживания</label>
                <input for="Address" class="form-control" @bind="@employee.Address" />
            </div>
            <div class="form-group">
                <label for="PhoneHome" class="control-label">Телефон дом</label>
                <input for="PhoneHome" class="form-control" @bind="@employee.PhoneHome" />
            </div>
            <div class="form-group">
                <label for="PhoneMobile" class="control-label">Телефон моб</label>
                <input for="PhoneMobile" class="form-control" @bind="@employee.PhoneMobile" />
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">E-mail</label>
                <input for="Email" class="form-control" @bind="@employee.Email" />
            </div>
            <div class="form-group">
                <label for="Workplace" class="control-label">Место работы</label>
                <input for="Workplace" class="form-control" @bind="@employee.Workplace" />
            </div>
            <div class="form-group">
                <label for="WorkPosition" class="control-label">Должность</label>
                <input for="WorkPosition" class="form-control" @bind="@employee.WorkPosition" />
            </div>
            <div class="form-group">
                <label for="FamilyPosition" class="control-label">Семейное положение</label>
                <input for="FamilyPosition" class="form-control" @bind="@employee.FamilyPosition.Position" />
            </div>
            <div class="form-group">
                <label for="Citizenship" class="control-label">Гражданство</label>
                <input for="Citizenship" class="form-control" @bind="@employee.Citizenship.Name" />
            </div>
            <div class="form-group">
                <label for="Disability" class="control-label">Инвалидность</label>
                <input for="Disability" class="form-control" @bind="@employee.Disability.Name" />
            </div>
            <div class="form-group">
                <label for="Pensioner" class="control-label">Пенсионер</label>
                <input type="checkbox" for="Pensioner" class="form-control" @bind="@employee.Pensioner" />
            </div>
            <div class="form-group">
                <label for="Income" class="control-label">Ежемесячный доход</label>
                <input for="Income" class="form-control" @bind="@employee.Income" />
            </div>
            <div class="form-group">
                <label for="Military" class="control-label">Военнообязанный</label>
                <input type="checkbox" for="Military" class="form-control" @bind="@employee.Military" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateEmployee" value="Save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

    Employee employee = new Employee();

    protected async Task CreateEmployee()
    {
        await EmployeeService.CreateEmployee(employee);
        NavigationManager.NavigateTo("listemployees");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listemployees");
    }
}   